.options {
    grid-area: options;
    overflow-y: scroll;
    scrollbar-width: none;
    .opts-row {
        margin: 40px auto;
        width: 70%;
        padding: 15px 20px;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: #022c43;
        overflow: hidden;
        margin-bottom: 20px;
        p{
            float: left;
            margin: 0;
            &:last-of-type {
                float: right;
                i{
                    color: #F8F8F8;
                    cursor: pointer;
                    transition: all .5s linear;
                    &:hover {
                        color: #ffd700;
                        font-weight: bolder;
                        transition: all .2s linear;
                    }
                }
            }
        }
    }
}